<div class="window">
  <div class="header">
    <div class="burger-container">
      <div id="burger">
        <div class="bar topBar"></div>
        <div class="bar btmBar"></div>
      </div>
    </div>
	  
    <div class="icon icon-apple icon-logo"><a href="<?php echo site_url("indi-co") ?>"><img src="<?php echo site_url("wp-content/uploads/2019/02/Indi-Co-logo-1.png") ?>"></a></div>
	  <?php
                        wp_nav_menu(
                                array(
                                    'theme_location' => 'indi-co-sm',
                                    'container_class' => ' indi-co-sm-menu-mobile-container',
                                    'container_id' => 'indi-co-sm-mobile',
                                    'menu_class' => 'menu',
                                    'fallback_cb' => '',
                                    'menu_id' => 'indi-co-sm-main-mobile-menu',
                                    'walker' => new understrap_WP_Bootstrap_Navwalker(),
                                )
                        );
                        ?>
	  
	  
   
    <div class="shop icon icon-bag">
		<a href="#">
			<div class="shop-button">
			<img src="<?php echo site_url("wp-content/uploads/2019/02/shopping-cart.svg") ?>">
			</div>
		</a>
		</div>
	  <div class="col-lg-12 col-md-12 col-sm-12 m-contact-details">
  <div class="call-action"><div class="center-margin">
	  <img src="<?php echo site_url("wp-content/uploads/2019/02/telephone.svg") ?>"><p>Call us: <a href="tel:+94771118707">+9477-1118707</a></p></div></div>

<div class="mail-action"><div class="center-margin"><img src="<?php echo site_url("wp-content/uploads/2019/02/mail.svg") ?>"><p>Mail us: <a href="mailto:info@houseofindi.com">info@houseofindi.com</a></p></div></div>

<div class="footer-social-items-div">
	<div class="all-icons">
		
	
    <a href="#" class="footer-social-items"><img src="<?php echo site_url("wp-content/uploads/2019/02/f.svg") ?>"> </a>
    <a href="#" class="footer-social-items"><img src="<?php echo site_url("wp-content/uploads/2019/02/i.svg") ?>"> </a>
    <a href="#" class="footer-social-items"><img src="<?php echo site_url("wp-content/uploads/2019/02/y.svg") ?>"> </a>
     <a href="#" class="footer-social-items"><img src="<?php echo site_url("wp-content/uploads/2019/02/t.svg") ?>"> </a>
		</div>
      </div>

</div>
	  
	  
  </div>
				
				
				
				
</div>